body, html {
/*    min-height: 800px;*/
/*
    height: 100%;
    max-height: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 3000px;
*/
/*    background: #666;*/
}
body {min-width: 1000px;}

.UXN__subnav--bottom {
    background-image: linear-gradient(to top, rgba(200,0,10,0.25) 10%, transparent 10%) !important;	
}
.UXN__subnav--top {
    background-image: linear-gradient(to bottom, rgba(200,0,10,0.25) 10%, transparent 10%) !important;	
}
.UXN__subnav--left {
    background-image: linear-gradient(to right, rgba(200,0,10,0.25) 10%, transparent 10%) !important;	
}
.UXN__subnav--right {
    background-image: linear-gradient(to left, rgba(200,0,10,0.25) 10%, transparent 10%) !important;	
}
[class*="has-bottom"] {
    background-image: linear-gradient(to top, rgba(10,100,200,0.25) 10%, transparent 10%) !important;	
}
[class*="has-top"] {
    background-image: linear-gradient(to bottom, rgba(10,100,200,0.25) 10%, transparent 10%) !important;	
}
[class*="has-left"] {
    background-image: linear-gradient(to right, rgba(10,100,200,0.25) 10%, transparent 10%) !important;	
}
[class*="has-right"] {
    background-image: linear-gradient(to left, rgba(10,100,200,0.25) 10%, transparent 10%) !important;	
}
.UXN__subnav--bottom.UXN__subnav--left {
    background-image: linear-gradient(to top right, rgba(200,0,10,0.25) 10%, transparent 10%) !important;	
}
.UXN__subnav--bottom.UXN__subnav--right {
    background-image: linear-gradient(to top left, rgba(200,0,10,0.25) 10%, transparent 10%) !important;	
}
.UXN__subnav--top.UXN__subnav--left {
    background-image: linear-gradient(to bottom right, rgba(200,0,10,0.25) 10%, transparent 10%) !important;	
}
.UXN__subnav--top.UXN__subnav--right {
    background-image: linear-gradient(to bottom left, rgba(200,0,10,0.25) 10%, transparent 10%) !important;	
}

[class*="has-bottom"][class*="has-left"] {
    background-image: linear-gradient(to bottom left, transparent 90%, rgba(10,100,200,0.25) 90%) !important;	
}
[class*="has-bottom"][class*="has-right"] {
    background-image: linear-gradient(to bottom right, transparent 90%, rgba(10,100,200,0.25) 90%) !important;	
}
[class*="has-top"][class*="has-left"] {
    background-image: linear-gradient(to top left, transparent 90%, rgba(10,100,200,0.25) 90%) !important;	
}
[class*="has-top"][class*="has-right"] {
    background-image: linear-gradient(to top rigth, transparent 90%, rgba(10,100,200,0.25) 90%) !important;	
}

.columns {
    overflow: hidden;
    padding: 0 50px;
}

.columns > * {
    float: left;
    width: 50%;
}

[id*='menu'] {
	position: relative;
}

[class*='active'] {
	z-index: 100;
}
/*---------------------------- MENU ----------------------------*/

#menu {
    margin: 50px;
}

#menu ul {
    padding: 0;
    background-color: #eee;
    width: 200px;
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35), 
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 0);
}

#menu .UXN__subnav--current {
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35), 
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 1);
}

#menu li {
    line-height: 38px;            
    list-style-type: none;
    
    padding: 0 20px;
    width: 100%;
    
    position: relative;
    
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    transition: background-color 0.15s ease-in 0s;
}

#menu a {
    text-decoration: none;
    color: #222;
    display: block;
}

#menu li:hover {
    background-color: rgba(0,0,0,0.2);
    transition: background-color 0.15s ease-out 0s;
}

#menu .UXN__item--opened.UXN__item--highlighted {
    background-color: rgba(232, 208, 104, 0.7);
}

#menu .UXN-horizontal {
    width: 100%;
    height: 38px;
    display: table;
    border-collapse: collapse;
}

#menu .UXN-horizontal > li {
    display: table-cell;
    table-layout: fixed;
    width: auto;
}

#menu .UXN-horizontal > li:not(:first-child) {
    border-left: 1px solid #ddd;
}

#menu .vertical,
#menu .vertical ul {
    transform: translateX(-10px);
    z-index: 5;
}

#menu .UXN__item--opened, 
#menu .UXN__item--has-fading-out {
    overflow: visible;
}

#menu .UXN-horizontal ul {
    position: absolute;
    top: 0px;
    left: 100%;

    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 1.15s ease-in 0s,
        transform 1.15s ease-in 0s,
        box-shadow 1.15s ease-in 0s,
        visibility 0s linear 1.15s;
}

#menu .UXN__item--opened > ul {
    left: 100%;
    transform: translateX(0px);
    
    opacity: 1;
    visibility: visible;
    transition: 
        opacity 0.15s ease-out 0s,
        transform 0.15s ease-out 0s,
        box-shadow 0.15s ease-out 0s,
        visibility 0s linear 0s;
}

#menu .UXN-horizontal .vertical,
#menu .UXN__item--opened .vertical {
    top: 38px;
    left: 0px;
    
    width: 100%;
    
    transform: translateY(-10px);
}

#menu .UXN__item--opened .vertical {
    transform: translateY(0px);
}

#menu .UXN-horizontal .UXN__subnav--top {
    bottom: 0;
    top: auto;
}

#menu .UXN-horizontal .UXN__subnav--left {
    left: auto;
    right: 95%;
    
    transform: translateX(10px);
}

#menu .UXN-horizontal .UXN__item--opened > .UXN__subnav--left {
    transform: translateX(0px);
}

#menu .UXN-horizontal .UXN__item--opened > .UXN__subnav--right {
    transform: translateX(0px);
}

#menu .UXN__item--has-subnav > a:after {
    content: "\2192";
    
    float: right;
    font-weight: bold;
}

#menu .UXN-horizontal > .UXN__item--has-subnav > a:after {
    content: "\2193";
}

#menu .UXN__item--has-subnav.UXN__item--has-left > a:after {
    content: "\2190";
}

/*---------------------------- MENU2 ----------------------------*/

#menu2 {
    margin: 50px;
}

#menu2 ul {
    padding: 0;
    margin: 0;
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35),
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 0);
}

#menu2 .UXN__subnav--current {
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35),
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 1);
}

#menu2 .UXN-horizontal {
    background-color: #eee;
    
    display: flex;
    align-items: stretch;
}

#menu2 .UXN-horizontal li {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    line-height: 38px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#menu2 .UXN-horizontal .UXN__item--opened,
#menu2 .UXN-horizontal .UXN__item--has-fading-out {
    overflow: visible;
}

#menu2 .UXN-horizontal li > * {
    transition: background-color 0.15s ease-in 0s;
}

#menu2 .UXN-horizontal li > *:hover {
    background-color: rgba(0,0,0,0.2);
    transition: background-color 0.15s ease-out 0s;
}

#menu2 .UXN-horizontal li > .opener.UXN__opener--highlighted {
    background-color: rgba(232, 208, 104, 0.7);
}

#menu2 .UXN-horizontal li > a {
    color: #222;
    text-decoration: none;
    padding: 0 20px;
    flex-grow: 5;
    cursor: pointer;
}

#menu2 .opener {
    text-align: center;
    border-left: 1px solid #ddd;
    cursor: default;
    flex-grow: 2;
    min-width: 38px;
    background-color: #eee;
}

#menu2 .UXN__item--has-left > a {
    order: 2;
}

#menu2 .UXN__item--has-left .opener {
    order: 1;
}

#menu2 .UXN-horizontal > li:not(:first-child) {
    border-left: 1px solid #ddd;
}

#menu2 .vertical {
    text-align: left;

    position:absolute;
    top: 38px;
    top: 100%;
    left: 0px;

    width: 200px;
    
    background-color: #eee;
    
    transform-origin: top left;
    transform: scale(0);
    
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, transform, box-shadow, visibility;
    transition-duration: 1.15s;
    transition-timing-function: ease-in;
}

#menu2 .UXN-horizontal > li > .opener > .vertical {
    width: 100%;
    transform-origin: top right;
}
    
#menu2 .vertical li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

#menu2 .vertical .opener {
    width: 38px;
}

#menu2 .vertical .vertical {
    top: 0;
    left: 100%;
}

#menu2 .vertical.UXN__subnav--left {
    left: auto;
    right: 100%;
}

#menu2 .vertical.UXN__subnav--top {
    top: auto;
    bottom: 0;
}

#menu2 .vertical.UXN__subnav--top {
    transform-origin: bottom left;
}

#menu2 .vertical.UXN__subnav--left {
    transform-origin: top right;
}

#menu2 .vertical.UXN__subnav--left.UXN__subnav--top {
    transform-origin: bottom right;
}

#menu2 .UXN__opener--opened > ul {
    transform: scale(1);

    visibility: visible;
    opacity: 1;
    transition-property: opacity, transform, box-shadow;
    transition-timing-function: ease-out;
}

#menu2 .arrow:after {
    content: "\2193";
}

#menu2 .vertical .arrow:after {
    content: "\2192";
}

#menu2 .vertical .UXN__item--has-left > .opener > .arrow:after {
    content: "\2190";
}

/*---------------------------- MENU3 ----------------------------*/

#menu3 {
    margin: 50px;
    margin-top: 150px;
}

#menu3 > .subnav {
	list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#menu3 .item {
    margin: 0 2.5%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0px 0px  2px 0px rgba(0, 0, 0, 0.35), 0px 0px 12px 0px rgba(0, 0, 0, 0.2);    
    transition: background-color 0.15s ease-in 0s;
    position: relative;
    overflow: hidden;
    cursor: pointer;    
}

#menu3 .item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.15s ease-out 0s;
}

#menu3 .UXN__item--highlighted.UXN__item--opened {
    background-color: rgba(232, 208, 104, 0.7);
}

#menu3 .subnav .subnav {
    font-size: 24px;
    font-family: sans-serif;
    position: absolute;
    bottom: 85px;
    left: -250%;
    padding: 10px 25px;
    width: 250px;
    background-color: #ddd;    
    box-shadow: 0px 0px  2px 0px rgba(0, 0, 0, 0.35), 0px 0px 12px 0px rgba(0, 0, 0, 0.2);    
    opacity: 0;
    visibility: collapse;
    transform: translateY(25px) scale(0.5);
    transform-origin: 50% calc(100% + 35px);
    transition: 
        opacity 0.15s ease-in 0s,
        transform 0.15s ease-in 0s,
        visibility 0s linear 0.15s;

    cursor: default;
}

#menu3 .subnav .subnav.UXN__subnav--bottom {
    top: 85px;
    bottom: auto;
    transform: translateY(-25px) scale(0.5);
    transform-origin: 50% -35px;
}

#menu3 .subnav .subnav.UXN__subnav--right {
    left: -5px;
    transform-origin: 30px calc(100% + 35px);
}

#menu3 .subnav .subnav.UXN__subnav--right.UXN__subnav--bottom {
    transform-origin: 30px -35px;
}

#menu3 .subnav .subnav.UXN__subnav--left {
    left: auto;
    right: -5px;
    transform-origin: calc(100% - 30px) calc(100% + 35px);
}

#menu3 .subnav .subnav.UXN__subnav--left:after {
    left: auto;
    right: 5px;
}

#menu3 .subnav .subnav.UXN__subnav--left.UXN__subnav--bottom {
    transform-origin: calc(100% - 30px) -35px;
}

#menu3 .subnav .subnav.UXN__subnav--right:after {
    left: 5px;
}

#menu3 .subnav .UXN__item--opened .subnav.UXN__subnav--bottom {
    transform: translateY(0px) scale(1);
}

#menu3 .subnav .subnav.UXN__subnav--bottom:after {
    bottom: auto;
    top: -25px;
    border-bottom: 25px solid #ddd;
    border-top: none;
}

#menu3 .subnav .subnav a {
    color: #555;
    text-decoration: none;
}

#menu3 .subnav .subnav a:hover {
    text-decoration: underline;
}

#menu3 .subnav .subnav:after {
    content: "";
    
    position: absolute;
    bottom: -25px;
    left: calc(50% - 25px);
    
    width: 0px;
    height: 0px;
    
    border: 25px solid #ddd;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
}

#menu3 .UXN__item--opened,
#menu3 .UXN__item--has-fading-out {
    overflow: visible;
}

#menu3 .UXN__item--opened > .subnav {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px) scale(1);
    transition: 
        opacity 0.15s ease-out 0s,
        transform 0.15s ease-out 0s,
        visibility 0s linear 0s;
}

/*---------------------------- MENU4 ----------------------------*/

#menu4 {
	margin: 50px 0;
    margin-top: 50px;
}

#menu4 ul {
    padding: 0;
	list-style-type: none;
}

#menu4 > .subnav {
	width: 200px;
    padding: 10px 0;
    box-shadow: 0px 0px  2px 0px rgba(0, 0, 0, 0.35), 0px 0px 12px 0px rgba(0, 0, 0, 0.2);    
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
}

#menu4 > .UXN__subnav--has-opened,
#menu4 > .UXN__subnav--has-fading-out {
    overflow: visible;
}

#menu4 > .subnav > li {
    font-size: 18px;
    line-height: 38px;
    border-top: 1px solid #ddd;
}

#menu4 > .subnav > li:last-child {
    border-bottom: 1px solid #ddd;
}

#menu4 .subnav > li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#menu4 .item.UXN__item--highlighted.UXN__item--opened {
    background-color: rgb(232, 208, 104);
}

#menu4 a, #menu4 li {
    transition: background 0.15s ease-in 0s, color 0.15s ease-in 0s;
}

#menu4 a:hover, #menu4 li:hover {
    transition-timing-function: ease-out;
}

#menu4 > .subnav > li > a {
    color: #222;
    text-decoration: none;
    display: block;
    padding: 0 15px;
}

#menu4 > .subnav > li > a:after {
    content: "\2192";
    float: right;
    color: #bbb;
    
    transition: color 0.15s ease-in 0s;
}

#menu4 > .subnav > .item:hover > a:after {
    color: #777;
    
    transition-timing-function: ease-out;
}

#menu4 > .subnav > .item.UXN__item--highlighted a:after {
    color: #222;
    
    transition-timing-function: ease-out;
}

#menu4 > .subnav .subnav {
    position:absolute;
    top: 0px;
    left: 100%;
    
    width: 400px;
    height: 100%;
    
    box-shadow: 0px 0px  2px 0px rgba(0, 0, 0, 0.35), 0px 0px 12px 0px rgba(0, 0, 0, 0.2);    

    transition: 
        opacity 0.15s ease-in 0s,
        visibility 0s linear 0.15s;

    overflow: hidden;
	visibility: hidden;
    opacity: 0;
}

#menu4 > .subnav .subnav img {
    position:absolute;
    top: 0px;
    left: 0px;

    min-height: 100%;
    min-width: 100%;
    
    overflow: hidden;
    z-index: -1;
}

#menu4 > .subnav .subnav > ul {
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 65px 0 10px 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fff 40%, rgba(255, 255, 255, 0.75) 60%, transparent 100%);
    box-sizing: border-box;
}

#menu4 .subnav h2 {
    font-family: sans-serif;
    color: #777;
    position: relative;
    z-index: 1;
    padding: 0 25px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75), -1px -1px 1px rgba(0, 0, 0, 0.35);
}

#menu4 .subnav .subnav > ul > li a {
    font-family: sans-serif;
    color: #444;
    padding: 0 25px;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75), -1px -1px 1px rgba(0, 0, 0, 0.35);
}

#menu4 .subnav .subnav > ul > li a:hover {
    color: rgb(167, 136, 0);
}

#menu4 > .subnav .subnav > ul ul {
    padding: 10px 50px 20px 25px;
    overflow: hidden;
}
    
#menu4 > .subnav .subnav > ul ul li {
    font-size: 14px;
    line-height: 1.4;
    float: left;
    margin-bottom: 15px;
}

#menu4 > .subnav .subnav > ul ul li a {
    color: #555;
    padding: 0;
    text-decoration: none;
    margin-right: 5px;
}

#menu4 > .subnav .subnav > ul ul li a:hover {
    text-decoration: underline;
}

#menu4 > .subnav .subnav > ul ul li:not(:last-child) a:after {
    content: ",";
}

#menu4 .UXN__item--opened > .subnav {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.15s ease-out 0s;
}

/*---------------------------- MENU 5 ----------------------------*/

#menu5 {
	margin: 50px 0;
}

#menu5 ul {
    list-style-type: none;
    padding: 0;
}

#menu5 > .subnav {
    height: 65px;
    display: flex;
    position: relative;
    border: 1px solid #bbb;
    overflow: hidden;
}

#menu5 > .subnav .subnav {
    opacity: 0;
    visibility: hidden;
    
    transition-property: opacity, transform, visibility;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;

    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% + 2px);
    border: 1px solid #bbb;
    left: -1px;
}

#menu5 .UXN__item--opened > .subnav {
    opacity: 1;
    visibility: visible;
    transition-timing-function: ease-out;
}

#menu5 .subnav.UXN__subnav--has-opened,
#menu5 .subnav.UXN__subnav--has-fading-out {
    overflow: visible;
}

#menu5 > .subnav > .item {
    flex: 1;
    background-color: #ddd;
}

#menu5 > .subnav > .item:not(:last-child) {
    border-right: 1px solid #bbb;
}

#menu5 > .subnav > .item > a {
    position: relative;
    height: 65px;
}

#menu5 > .subnav > .item a {
    font-size: 20px;
    font-family: sans-serif;
    display: block;
}

#menu5 a {
    color: #222;
    transition: color 0.15s ease-in 0s;
}

#menu5 a:hover {
    transition: color 0.15s ease-out 0s;
}

#menu5 .item {
    transition: color 0.15s ease-in 0s, background 0.15s ease-in 0s;
}

#menu5 .item:hover {
    transition-timing-function: ease-out;
}

#menu5 .item.UXN__item--highlighted > a,
#menu5 .item:hover > a {
    color: rgb(123, 102, 13);
}

#menu5 > .subnav > .item .text {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#menu5 > .subnav > .item.UXN__item--highlighted {
    background-color: #eee;
}

#menu5 > .subnav > .item .text span {
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(-50%);
    white-space: nowrap;
    height: 20px;
    padding: 5px 10px;
}

#menu5 > .subnav > .item .text span:after {
    content: "\2193";
    margin-left: 5px;
}

#menu5 :after {
    transition: color 0.15s ease-in 0s, border 0.15s ease-in 0s;
}

#menu5 .UXN__item--highlighted :after,
#menu5 .item:hover :after {
    transition: color 0.15s ease-out 0s, border 0.15s ease-out 0s;
}

#menu5 > .subnav > .item > .subnav {
    position:absolute;
    top: 100%;
    display: flex;
}

#menu5 > .subnav > .item > .subnav > .item > a {
    position: relative;
}

#menu5 > .subnav > .item > .subnav > .item {
    flex: 1;    
    line-height: 52px;
    height: 50px;
    text-align: center;
    background-color: #ddd;
}

#menu5 > .subnav > .item > .subnav > .item > a:before {
    content: "";
    
    position: absolute;
    bottom: 1px;
    left: 0;
        
    width: 100%;
    height: 0px;
    
    border-top: 1px solid transparent;
    
    z-index: 2;
    
    display: block;
}

#menu5 > .subnav > .item > .subnav > .UXN__item--highlighted {
    background: #fafafa;
}

#menu5 > .subnav > .item > .subnav > .UXN__item--highlighted > a:before {
    border-color: #fafafa;
}

#menu5 > .subnav > .item > .subnav > .item:not(:last-child) {
    border-right: 1px solid #ccc;
}

#menu5 > .subnav > .item > .subnav > .item > a {
    text-decoration: none;
    font-size: 16px;
}

#menu5 > .subnav > .item > .subnav > .item > a:after {
    content: "\2193";
    margin-left: 5px;
}

#menu5 > .subnav > .item > .subnav > .item > .subnav {
    position:absolute;
    top: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 0 20px;
    padding-bottom: 10px;
    display: block;
    background: #fafafa;
}

#menu5 h2 {
	font-family: sans-serif;
    color: #444;
    margin-bottom: 0;
    line-height: 1.6;
    margin-bottom: 10px;
}

#menu5 h3 {
    font-size: 18px;
    font-family: sans-serif;
    color: #666;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    margin-top: 10px;
}

#menu5 .subnav .subnav .subnav a {
    font-size: 14px;
    font-family: sans-serif;
    color: #777;
    line-height: 1.6;
    display: inline-block;
}

#menu5 .subnav .subnav .subnav a:hover {
    color: rgb(123, 102, 13);
}

/*---------------------------- MENU6 ----------------------------*/

#menu6 {
    margin: 50px;
    margin-bottom: calc(50vh - 50px - 38px);
}

#menu6 .UXN-horizontal {
}

#menu6 ul {
    padding: 0;
    background-color: #eee;
    width: 200px;
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35), 
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 0);
}

#menu6 .UXN__subnav--current {
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35), 
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 1);
}

#menu6 li {
    line-height: 38px;            
    list-style-type: none;

    padding: 0 20px;
    width: 100%;

    position: relative;

    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    transition: background-color 0.15s ease-in 0s;
}

#menu6 a {
    text-decoration: none;
    color: #222;
    display: block;
}

#menu6 li:hover {
    background-color: rgba(0,0,0,0.2);
    transition: background-color 0.15s ease-out 0s;
}

#menu6 .UXN__item--opened.UXN__item--highlighted {
    background-color: rgba(232, 208, 104, 0.7);
}

#menu6 .UXN-horizontal {
    width: 100%;
    height: 38px;
    display: table;
    border-collapse: collapse;
}

#menu6 .UXN-horizontal > li {
    display: table-cell;
    table-layout: fixed;
    width: auto;
}

#menu6 .UXN-horizontal > li:not(:first-child) {
    border-left: 1px solid #ddd;
}

#menu6 .vertical,
#menu6 .vertical ul {
    transform: translateX(-10px);
    z-index: 5;
}

#menu6 .UXN__item--opened, 
#menu6 .UXN__item--has-fading-out {
    overflow: visible;
}

#menu6 .UXN-horizontal ul {
    position: absolute;
    bottom: 0px;
    left: 100%;

    visibility: hidden;
    transition-property: box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

#menu6 .UXN__item--has-fading-out > ul {
    animation: hide 0.15s ease-in 1 forwards,
        moveOutR 0.15s ease-in 1 forwards;
}

#menu6 .UXN__item--opened > ul {
    left: 100%;
/*    transform: translateX(0px);*/

    visibility: visible;
    transition-timing-function: ease-out;
    animation: show 0.3s ease-in 1 forwards,
        moveInR 0.3s ease-in 1 forwards;
}

#menu6 [class*='reset'].UXN__item--opened > ul {
    visibility: hidden;
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes hide {
    0% { opacity: 1; visibility: visible;}
    100% { opacity: 0; visibility: hidden;}
}

@keyframes moveInB {
    0% { transform: translateY(-10px); }
    55% { transform: translateY(4px); }
    85% { transform: translateY(-1px); }
    100% { transform: translateY(0px); }
}

@keyframes moveOutB {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-10px); }
}

@keyframes moveInT {
    0% { transform: translateY(10px); }
    55% { transform: translateY(-4px); }
    85% { transform: translateY(1px); }
    100% { transform: translateY(0px); }
}

@keyframes moveOutT {
    0% { transform: translateY(0px); }
    100% { transform: translateY(10px); }
}

@keyframes moveInL {
    0% { transform: translateX(-10px); }
    55% { transform: translateX(4px); }
    85% { transform: translateX(-1px); }
    100% { transform: translateX(0px); }
}

@keyframes moveOutL {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-10px); }
}

@keyframes moveInR {
    0% { transform: translateX(10px); }
    55% { transform: translateX(-4px); }
    85% { transform: translateX(1px); }
    100% { transform: translateX(0px); }
}

@keyframes moveOutR {
    0% { transform: translateX(0px); }
    100% { transform: translateX(10px); }
}

#menu6 .UXN-horizontal > li > .vertical {
    bottom: 38px;
    left: 0px;

    width: 100%;

    transform: translateY(10px);
}

#menu6 .UXN-horizontal > .UXN__item--has-bottom > .vertical {
    bottom: auto;
    top: 38px;

    transform: translateY(-10px);
}

#menu6 .UXN-horizontal .UXN__item--opened > .vertical {
/*    transform: translateY(0px);*/
}

#menu6 .UXN-horizontal .UXN__item--opened > .vertical {
    animation: show 0.3s ease-in 1 forwards,
        moveInB 0.3s ease-in 1 forwards;
}

#menu6 .UXN-horizontal .UXN__item--has-fading-out > .vertical {
    animation: hide 0.15s ease-in 1 forwards,
        moveOutB 0.15s ease-in 1 forwards;
}

#menu6 .UXN-horizontal > .UXN__item--has-bottom.UXN__item--opened > .vertical {
    animation: show 0.3s ease-in 1 forwards,
        moveInT 0.3s ease-in 1 forwards;
}

#menu6 .UXN-horizontal > .UXN__item--has-bottom.UXN__item--has-fading-out > .vertical {
    animation: hide 0.15s ease-in 1 forwards,
        moveOutT 0.15s ease-in 1 forwards;
}

#menu6 .UXN-horizontal .UXN__subnav--bottom {
    top: 0;
    bottom: auto;
}

#menu6 .UXN-horizontal .UXN__subnav--left {
    left: auto;
    right: 95%;

    transform: translateX(10px);
}

#menu6 .UXN-horizontal .UXN__item--opened > .UXN__subnav--left {
/*    transform: translateX(0px);*/
}

#menu6 .UXN-horizontal .UXN__item--opened > .UXN__subnav--right {
/*    transform: translateX(0px);*/
}

#menu6 .UXN-horizontal .vertical .UXN__item--opened > .UXN__subnav--top.UXN__subnav--left,
#menu6 .UXN-horizontal .vertical .UXN__item--opened > .UXN__subnav--bottom.UXN__subnav--left,
#menu6 .UXN-horizontal .vertical .UXN__item--opened > .UXN__subnav--left {
    animation: show 0.3s ease-in 1 forwards,
        moveInL 0.3s ease-in 1 forwards;
}

#menu6 .UXN-horizontal .vertical .UXN__item--opened > ul.UXN__subnav--top,
#menu6 .UXN-horizontal .vertical .UXN__item--opened > ul.UXN__subnav--bottom,
#menu6 .UXN-horizontal .vertical .UXN__item--opened > ul {
    animation: show 0.3s ease-in 1 forwards,
        moveInR 0.3s ease-in 1 forwards;
}

#menu6 .UXN-horizontal .vertical .UXN__item--has-fading-out > .UXN__subnav--top.UXN__subnav--left,
#menu6 .UXN-horizontal .vertical .UXN__item--has-fading-out > .UXN__subnav--bottom.UXN__subnav--left,
#menu6 .UXN-horizontal .vertical .UXN__item--has-fading-out > .UXN__subnav--left {
    animation: hide 0.15s ease-in 1 forwards,
        moveOutL 0.15s ease-in 1 forwards;
}

#menu6 .UXN-horizontal .vertical .UXN__item--has-fading-out > ul.UXN__subnav--top,
#menu6 .UXN-horizontal .vertical .UXN__item--has-fading-out > ul.UXN__subnav--bottom,
#menu6 .UXN-horizontal .vertical .UXN__item--has-fading-out > ul {
    animation: hide 0.15s ease-in 1 forwards,
        moveOutR 0.15s ease-in 1 forwards;
}

#menu6 .UXN__item--has-subnav > a:after {
    content: "\2192";

    float: right;
    font-weight: bold;
}

#menu6 .UXN-horizontal > .UXN__item--has-subnav > a:after {
    content: "\2191";
}
    
#menu6 .UXN-horizontal > .UXN__item--has-subnav.UXN__item--has-bottom > a:after {
    content: "\2193";
}

#menu6 .UXN__item--has-subnav .UXN__item--has-subnav.UXN__item--has-left > a:after {
    content: "\2190";
}

/*---------------------------- MENU7 ----------------------------*/

#menu7 {
    margin: 50px;
    height: 85px;
    padding-top: 5px;
    padding-bottom: 300px;
    position: relative;
}

#menu7 .subnav {
    list-style-type: none;
    padding: 0;
    background-color: #eee;
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35), 
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 0);
}

#menu7 .subnav.UXN-horizontal {
    height: 50px;    
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    padding-bottom: 0px;
    transition: padding 0.25s ease-in 0s;
}

#menu7 .subnav.UXN-horizontal.UXN__subnav--current,
#menu7 .subnav.UXN-horizontal.UXN__subnav--has-opened {
    padding-bottom: 300px;
    transition: padding 0.25s ease-out 0s;
}

#menu7 .UXN-horizontal .subnav {
    visibility: hidden;
    transition:  visibility 0s linear 0.25s;
}

#menu7 .UXN-horizontal .subnav .subnav {
    visibility: visible;
    transition: none;
}

#menu7 .UXN-horizontal .UXN__item--opened > .subnav {
    visibility: visible;
    transition: visibility 0s linear 0s;
    z-index: 40;
}

#menu7 .UXN-horizontal .UXN__item--has-fading-out .subnav {
    z-index: 30;
}

#menu7 .item.UXN__item--opened,
#menu7 .item.UXN__item--has-fading-out {
    overflow: visible;
}

#menu7 .UXN-horizontal > .item {
    flex: 1;
    counter-increment: items;
}

#menu7 .item {
    transition: background 0.15s ease-in 0s;
}

#menu7 .UXN-horizontal > .item > a:after {
    content: "\2193";
    
    margin-left: 15px;
    position: relative;
    top: -2px;
}

#menu7 .UXN-horizontal > .item:not(:last-child) {
    border-right: 1px solid #ccc;
}

#menu7 .item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background 0.15s ease-out 0s;
}

#menu7 .item > a {
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #222;
    
    display: block;
}

#menu7 .UXN-horizontal > .item > a {
    text-align: center;
    line-height: 50px;
}

#menu7 .item.UXN__item--highlighted {
    background-color: rgba(232, 208, 104, 0.7);
}

#menu7 .UXN-horizontal > .item > .subnav {
    display: flex;
    position:absolute;
    top: 50px;
    left: 0px;
    
    width: 100%;
    height: 300px;    
    visibility: hidden;
    flex-direction: column;
}

#menu7 .UXN-horizontal > .item.UXN__item--opened > .subnav {
    visibility: visible;
}

#menu7 .item > .subnav > .item > a:after {
    content: counter(items);
    
    margin-left: 5px;
    position: static;
}

#menu7 .item > .subnav > .item {
    width: 20%;
    flex: 1;
    counter-increment: items2;
}

#menu7 .item > .subnav > .item > a {
    line-height: 60px;
    padding: 0 20px;
}

#menu7 .UXN-horizontal > .item.UXN__item--opened > .subnav > .item.UXN__item--opened ~ .item .subnav {
    visibility: hidden;
}
    
#menu7 .item > .subnav > .item .subnav {
    width: 80%;
    border-left: 1px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    height: 300px;
    box-shadow: none;
    z-index: 1;
}
    
#menu7 .item.UXN__item--opened > .subnav:not(.UXN__subnav--has-opened):not(.UXN__subnav--current) > .item:not(:first-child) .subnav {
/*    visibility: hidden;*/
}

#menu7 .item > .subnav:not(.UXN__subnav--has-opened):not(.UXN__subnav--current) > .item:first-child {
/*    background-color: rgba(232, 208, 104, 0.7);*/
}

#menu7 .item > .subnav > .item > .subnav a h2:after {
    content: counter(items2);
    
    margin-left: 7px;
}

#menu7 .item > .subnav > .item > .subnav .articles {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#menu7 .item > .subnav > .item > .subnav .articles__item {
    flex: 1 1 1;
    width: 20%;
    padding: 3% 5%;
    overflow: hidden;
}

#menu7 .item > .subnav > .item > .subnav .articles__item img {
    width: 100%;
}

#menu7 .item > .subnav > .item > .subnav .articles__item h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}

#menu7 .item > .subnav > .item > .subnav .articles__item p {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 20px;
    overflow: hidden;
    margin-top: 0;
    height: 60px;
}

#menu7 .item > .subnav > .item > .subnav .articles__item a {
    overflow: hidden;
    display: block;
    color: #222;
    text-decoration: none;
}

/*---------------------------- MENU8 ----------------------------*/

#menu8 {
    margin: 50px;
    margin-bottom: 50vh;
    position: relative;
}

#menu8 ul {
    padding: 0;
    background-color: #eee;
    width: 200px;
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35), 
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 0);
}

#menu8 .UXN__subnav--current {
    box-shadow: 
        0px 0px  2px 0px rgba(0, 0, 0, 0.35), 
        0px 0px 12px 0px rgba(0, 0, 0, 0.2), 
        0px 0px  5px 0px rgba(232, 208, 104, 1);
}

#menu8 li {
    line-height: 38px;            
    list-style-type: none;

    padding: 0 20px;
    width: 100%;

    position: relative;

    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: background-color 0.15s ease-in 0s;
}

#menu8 a {
    text-decoration: none;
    color: #222;
    display: block;
}

#menu8 li:hover {
    background-color: rgba(0,0,0,0.2);
    transition: background-color 0.15s ease-out 0s;
}

#menu8 .UXN__item--opened.UXN__item--highlighted {
    background-color: rgba(232, 208, 104, 0.7);
}

#menu8 .UXN-horizontal {
    width: 100%;
    height: 38px;
    display: table;
    border-collapse: collapse;
    position: absolute;
    top: 0;
    left: 0;
}

#menu8 .UXN-horizontal > li {
    display: table-cell;
    table-layout: fixed;
    width: auto;
}

#menu8 .UXN-horizontal > li:not(:first-child) {
    border-left: 1px solid #ddd;
}

#menu8 .vertical {
    z-index: 5;
}

#menu8 .UXN-horizontal .vertical {
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
}

#menu8 .UXN__item--opened > .vertical {
    left: 100%;
    display: block;
}

#menu8 .UXN-horizontal > li > .vertical,
#menu8 .UXN-horizontal > .UXN__item--opened > .vertical {
    top: 38px;
    left: 0px;

    width: 100%;
}

#menu8 .UXN-horizontal .UXN__subnav--top {
    bottom: 0;
    top: auto;
}

#menu8 .UXN-horizontal .UXN__subnav--left {
    left: auto;
    right: 95%;
}

#menu8 .UXN__item--has-subnav > a:after {
    content: "\2192";

    float: right;
    font-weight: bold;
}

#menu8 .UXN-horizontal > .UXN__item--has-subnav > a:after {
    content: "\2193";
}

#menu8 .UXN__item--has-subnav.UXN__item--has-left > a:after {
    content: "\2190";
}




















